config LOSCFG_DRIVERS_HIGMAC
    bool "Enable higmac"
    depends on LOSCFG_DRIVERS_NETDEV && (LOSCFG_PLATFORM_HI3516A || LOSCFG_PLATFORM_HI3519 || LOSCFG_PLATFORM_HI3519V101 || LOSCFG_PLATFORM_HI3559 || LOSCFG_PLATFORM_HI3559AV100ES || LOSCFG_PLATFORM_HI3559AV100)
