config LOSCFG_DRIVERS_HIETH_SF
    bool "Enable hieth-sf"
    depends on LOSCFG_DRIVERS_NETDEV && (LOSCFG_PLATFORM_HI3518EV200 || LOSCFG_PLATFORM_HI3911 || LOSCFG_PLATFORM_HIM5V100 || LOSCFG_PLATFORM_HI3731  || LOSCFG_PLATFORM_HI3516CV300 || LOSCFG_PLATFORM_HI3516CV500 || LOSCFG_PLATFORM_HI3516DV300 || LOSCFG_PLATFORM_HI3516EV200 || LOSCFG_PLATFORM_HI3559V200)
